@import "variables";
@import "texto";

@media (min-width:1200px) {
    nav {
        div {
            .menu {
                li {
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    a:hover {
                        text-decoration: underline;
                        color: #fff;
                    }
                }
            }
        }
    }

    nav {
        div {
            .menu {
                li {
                    @extend .textos;
                    @include varBoton(400, 24px, none, none, none, none, none, 0, none);
                    list-style: none;
                    margin-top: 15px;
                    margin-left: 25px;
                }
            }
        }
    }
}