@media (min-width:1200px) {
    nav {
        div {
            .menu {
                li {
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    a:hover {
                        text-decoration: underline;
                        color: #fff;
                    }
                }
            }
        }
    }

    nav {
        div {
            .menu {
                li {
                    list-style: none;
                    margin-top: 15px;
                    margin-left: 25px;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                }
            }
        }
    }
}
