/* Imagenes derecha */
.imgPosocionDrch {
    width: 179.43px;
    transform: $rotacionImgD;
    padding-top: 15px;
    padding-bottom: 30px;
}
/* Imagenes izquierda */
.imgPosicionIzq{
    width: 179.43px;
    transform: $rotacionImgI;
    padding-top: 15px;
    padding-bottom: 40px;
}