/* Textos de portada de celular */
.textoPortada1 {
    margin-top: 210px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 65px;
    color: #FFFFFF;
    text-shadow: $sombra;

    color: #fff;
}

.textoPortada2 {
    margin-top: -30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 65px;
    
    color: #FFFFFF;
    
    text-shadow: $sombra;
}

/* Bloque 1 Adopta */ 
.tituloPrincipal {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    
    color: $colorSecundario;
}

.textoPrincipal {
    padding-top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    
    color: $colorSecundario;
}

/* Bloque 2 Nuestros Héroes */
.textHeroes {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    
    color: $colorHeroes;
}

/* Imagenes derecha */
.textIncliDrch {
    position: absolute;
    width: 84px;
    left: 20px;
    top: 200px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
        
    color: $colorHeroes;
        
    transform: $rotacionTextD;
}

/* Imagenes izquierda */
.textIncliIzq{
    position: absolute;
    width: 84px;
    left: 20px;
    top: 195px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
        
    color: $colorHeroes;
        
    transform: rotate(0.10deg);
}

/* Conoce a Lovely Pets */
.tituloPrincipalLove {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    
    color: $colorSecundario;
}

/* Servicio de Lovely Pets */
.tituloServiciosCel {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;

    color: $colorTerciario;
}

/* Footer */
.politicas {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
}